/* DELETE FORM */

/*.delete-form-container {
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#f3929a,#f38b93);
}

.delete-form {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: start;
}

.delete-form-title h2 {
    font-weight: 600;
    color:  #880b15;
    font-size: 40px;
    margin-bottom: 5px;
}

.delete-form-title hr {
    border: none;
    width: 220px;
    height: 5px;
    background-color: #880b15;
    border-radius: 10px;
    margin-bottom: 20px;
}

.delete-form-inputs {
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(6, 6, 6);
    border-radius: 50px;
}

.delete-form-inputs:focus {
    border: 2px solid  #880b15;
}

.delete-form-inputs::placeholder {
    color: #a9a9a9;
}

.delete-right img {
    width: 300px;
}*/

/* Button container */
/*.button-delete-container {
    display: flex;
}

.button-delete {
    margin-right: 20px;
    margin-left: 20px;
}*/

/* MEDIA SCREEN */
/*@media (max-width:800px) {
    .delete-form-inputs {
        width: 80vw;
    }

    .delete-right {
        display: none;
    }
} */

.delete-section {
    width: 100%;
    min-height: 100vh;
    background-color: #f38b93;
}

.delete-container {
    width: 100%;
    margin: auto;
    padding-top: 25px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.delete-left {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.delete-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    color: #880b15;
}

.delete-left-title hr {
    border: none;
    width: 220px;
    height: 5px;
    background-color: #880b15;
    border-radius: 10px;
    margin-bottom: 20px;
}

.delete-inputs {
    width: 430px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(6, 6, 6);
    border-radius: 50px;
}

.delete-left textarea {
    height: 100px;
    padding-top: 15px;
    padding-right: 4px;
    border-radius: 20px;
}

.delete-inputs:focus {
    border: 2px solid #880b15;
}

.delete-inputs::placeholder {
    color: #a9a9a9;
}

.button-delete-container {
    display: flex;
    margin-top: 20px;
}

.button-delete {
    margin-right: 20px; 
}

.delete-image-content {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.delete-image-content img{
    width: 300px;
    height: auto;
}

/* MEDIA SCREEN */
@media (max-width:800px) {
    .delete-container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .delete-left {
        float: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .delete-image-content {
        float: none;
        display: flex;
        margin: auto;
        align-items: center;
    }

    .delete-image-content img{
        width: 300px;
        height: auto;
    }
}