/* READ PAGE*/

.read-container {
    margin: 0;
    padding: 0;
    background: white;
}

.cont-read {
    margin-bottom: 20px;

}

.read-container ul {
    position: relative;
    margin: auto 0;
    padding: 5px;
    box-sizing: border-box;
    background: rgba(0,0,0,.1);
    box-shadow: inset 0 0 15px rgba(0,0,0,.2);
}

.read-container ul li {
    display: flex;
    background: rgb(255, 255, 255,.1);
    color: black;
    margin: 5px 0;
    transition: .5;
}
.read-container ul li span img{
    max-width: 100%;
    max-height: 100%;
} 

/*img*/
.read-container ul li span:nth-child(1) {
    width: 100px;
    height: auto;
    object-fit: cover;
}

/*name*/
.read-container ul li span:nth-child(2) {
    width: 200px;
    padding: 0 10px 0 10px;
    display: flex; 
    justify-content: left;
    align-items: center;
}

/*description*/
.read-container ul li span:nth-child(3) {
    width: 600px;
    padding: 0 10px 0 10px;
    display: flex; 
    justify-content: left;
    align-items: center;
}

/*price*/
.read-container ul li span:nth-child(4) {
    width: 100px;
    padding: 0 10px 0 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.read-container ul li a {
    width: 50px;
    padding: 0 10px 0 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* MEDIA SCREEN */
@media (max-width:800px) {

    /*description*/
    .read-container ul li span:nth-child(3) {
        display: none;
    }

    /*name*/
    .read-container ul li span:nth-child(2) {
        width: 200px;
        padding: 0 10px 0 10px;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
}