/* UPDATE FORM */

.update-form-container {
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(#f8e287,#fce37d);
}

.update-form {
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: start;
}

.update-form-title h2 {
    font-weight: 600;
    color:  #f69610;
    font-size: 40px;
    margin-bottom: 5px;
}

.update-form-title hr {
    border: none;
    width: 220px;
    height: 5px;
    background-color: #f69610;
    border-radius: 10px;
    margin-bottom: 20px;
}

.update-form-inputs {
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(6, 6, 6);
    border-radius: 50px;
}

.update-form-inputs:focus {
    border: 2px solid  #f69610;
}

.update-form-inputs::placeholder {
    color: #a9a9a9;
}

.update-right img {
    width: 300px;
}

/* Button container */
.button-update-container {
    display: flex;
}

.button-update {
    margin-right: 20px;
    margin-left: 20px;
}

/* MEDIA SCREEN */
@media (max-width:800px) {
    .update-form-inputs {
        width: 80vw;
    }

    .update-right {
        display: none;
    }
}